.icon_button {
  display        : inline-block;
  transform      : none;
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : var(--icon-button-width, 1.8rem);
  height         : var(--icon-button-height, 1.8rem);
  padding        : 0px;
  outline        : none;

  >.icon_button_href {
    display: none;
  }

  >.letter {
    font-weight    : 900;
    font-size      : var(--icon-letter-font-size, 0.8rem);
    color          : var(--icon-letter-color, white);
    display        : flex;
    align-items    : center;
    justify-content: center;
  }
}

.icon_button>* {
  transition: all 200ms;
}

.icon_button:hover>* {
  transform: scale(1.2);
}