.icon_button {
  display        : inline-block;
  transform      : none;
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 1.8rem;
  height         : 1.8rem;
  padding        : 0px;
  outline        : none;

  >.icon_button_href {
    display: none;
  }

  >.letter {
    font-weight: 900;
    font-size  : 1rem;
  }
}

.icon_button>* {
  transition: all 200ms;
}

.icon_button:hover>* {
  transform: scale(1.2);
}