.extra_data_from_view {
  width         : 100%;
  height        : 100%;
  display       : flex;
  box-sizing    : border-box;
  color         : white;
  gap           : 20px;
  padding       : 20px;
  background    : #00000055;
  font-size     : 16px;
  flex-direction: column;

  .title {
    margin: 0px;
  }

  .collapse {
    border-radius         : 5px;
    overflow              : hidden;
    border-top-left-radius: 0px;
    background-color      : #000000;
  }

  .btn_normal {
    color: #FFFFFF88
  }

  .btn_actived {
    background-color          : #000000;
    border-top-right-radius   : 0px;
    border-bottom-right-radius: 0px;
  }

  .main {
    display: flex;

    .form_row {
      display   : flex;
      box-sizing: border-box;
      display   : grid;

      grid-template-columns: 100px auto;

      &>*:nth-child(2) {
        flex: 1;
      }
    }

    .base_info {
      padding       : 10px 10px;
      gap           : 10px;
      display       : flex;
      flex-direction: column;
      border-radius : 5px;
    }

    .md_editor {
      padding: 10px 10px;
    }

    .md_editor>* {
      border-radius: 5px;
      overflow     : hidden;
      // resize       : vertical;
    }

    // .md_editor>*>* {
    //   height: 100%;
    // }

    input {
      border          : none;
      outline         : none;
      background      : none;
      font-family     : inherit;
      color           : white;
      border-radius   : 5px;
      padding         : 2px 5px;
      font-size       : 16px;
      background-color: var(--divider-color);
      box-sizing      : border-box;
      display         : flex;
    }
  }
}