@import url(@/theme/common.module.scss);

.info_view_root {
  padding: 0px 8px 0px 20px;

  .suffix {
    opacity    : 0.5;
    font-size  : 0.6rem;
    display    : inline-block;
    margin-left: 2px;
  }

  .prefix {
    opacity     : 0.5;
    font-size   : 0.6rem;
    display     : inline-block;
    margin-right: 2px;
  }

  &:not(:last-child) {
    border-bottom: 1px var(--divider-color) dashed;
  }

  &>.row_1 {
    display    : flex;
    align-items: center;
    overflow   : hidden;
    flex-wrap  : wrap;
  }

  &>.row_1>.row_title {
    display    : flex;
    align-items: flex-end;
    flex       : 1;
    flex-shrink: 0;

    >* {
      overflow     : hidden;
      text-overflow: ellipsis;
      white-space  : nowrap;
    }
  }

  .go_div {
    min-width      : 48px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 10px;
  }

  .el_date {
    opacity    : 0.5;
    font-size  : 14px;
    font-weight: normal;
  }
}