.debug_ui {
  position        : absolute;
  top             : 0px;
  left            : 0px;
  height          : 100%;
  width           : 100%;
  max-height      : 100%;
  max-width       : 100%;
  display         : flex;
  flex-direction  : column;
  background-color: #10206c;
  padding         : 5px;
  transition      : height 200ms;
  overflow        : auto;
  box-shadow      : 0px 0px 42px rgba(0, 0, 0, 1);
  gap             : 5px;
  box-sizing      : border-box;
}