.scrollview {
  &::-webkit-scrollbar {
    width           : 8px;
    height          : 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background   : transparent;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background   : var(--divider-color);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF88;
  }
}
