$min_input_width                       : 25px;
$min_input_height                      : 25px;
$primary_bg_color                      : #0F1830;
$primary_bg_color_disabled             : #0F1830;
$primary_bg_color_active               : #172c94;
$primary_text_color                    : #5A88E0;
$primary_text_color_disabled           : #5A88E0;
$primary_text_color_active             : #ffffff;
$primary_text_secondary_color          : #3e4b80;
$primary_text_secondary_color_disabled : #3e4b80;
$primary_text_secondary_color_active   : #ffffff88;
$primary_border_color                  : #5A88E0;
$primary_border_color_disabled         : #5A88E0;
$primary_border_color_active           : #a7b0d4;
$border_radius_s                       : 2px;




.lfui_min_input_size {
  min-width : $min_input_width;
  min-height: $min_input_height;
}