@use "./lfui_border.scss" as *;

.lfui_hoverable_border {
  @extend .lfui_border;
  border       : 1px #5a73d6 solid;
  border-radius: 3px;

  &:hover {
    border-color: #ffffff;
  }

  &:disabled {
    border: 1px #384888 solid;
  }

  &:focus {
    background-color: #FFFFFF22;
    border-style: dashed;
  }
}