.lfui_border {
  border       : 1px #5a73d6 solid;
  border-radius: 3px;
}

@mixin lfui_no_border {
  border-width: 0px !important;
}

@mixin lfui_no_round {
  border-radius: 0px !important;
}

.lfui_no_shadow {
  box-shadow: none !important;
}

._lfui_no_border,
.lfui_no_border,
.lfui_no_border:hover,
.lfui_no_border:focus,
.lfui_no_border:active,
.lfui_no_border:disabled {
  @include lfui_no_border
}

._lfui_no_round,
.lfui_no_round,
.lfui_no_round:hover,
.lfui_no_round:focus,
.lfui_no_round:active,
.lfui_no_round:disabled {
  @include lfui_no_round
}