@use "./lfui_border.module.scss" as *;
@use "./lfui_values.module.scss" as *;


.lfui_hoverable_border {
  @extend .lfui_border;
  border       : 1px $primary_border_color solid;
  border-radius: 5px;


  &>.float_label {
    font-size  : 9px;
    line-height: 9px;
    opacity    : 1;
    background : $primary_bg_color;
    color      : $primary_text_color;
    position   : absolute;
    padding    : 0px 2px;
    left       : 8px;
    top        : 0;
    translate  : 0px -7px;
  }
}

.lfui_hoverable_border:hover,
.lfui_hoverable_border_hover {
  @extend .lfui_hoverable_border;
  border-color: $primary_border_color_active;

  &>.float_label {
    background: $primary_bg_color_active;
    color     : $primary_text_color_active;
  }
}

.lfui_hoverable_border:disabled,
.lfui_hoverable_border_disabled {
  @extend .lfui_hoverable_border;
  border-color: $primary_border_color_disabled;

  &>.float_label {
    background: $primary_bg_color_disabled;
    color     : $primary_text_color_disabled;
  }
}

.lfui_hoverable_border:focus,
.lfui_hoverable_border_focus,
.lfui_hoverable_border:active,
.lfui_hoverable_border_active {
  @extend .lfui_hoverable_border;
  border-color: $primary_border_color_active;
  animation   : breathe 0.1s infinite;
  box-shadow  : 0px 0px 20px rgba(0, 0, 0, 0.5);
  z-index     : 1;

  &>.float_label {
    background: $primary_bg_color_active;
    color     : $primary_text_color_active;
  }
}

@keyframes breathe {
  0% {
    border-color: $primary_border_color_active;
  }

  50% {
    border-color: $primary_border_color;
  }

  100% {
    border-color: $primary_border_color_active;
  }
}
