@import url(@/theme/common.module.scss);

.detail_card {
  width        : 210px;
  height       : 300px;
  border-radius: 5px;
  box-shadow   : 0px 5px 15px -3px rgba(0, 0, 0, 0.8);
}

.detail_card_inner {
  display       : flex;
  flex-direction: column;
  flex          : 1;
  position      : relative;
  overflow      : hidden;

  .detail_card_head {
    padding      : 2px 5px;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
    display      : flex;
    align-items  : center;

    .prefix {
      font-size: 9px;
      opacity  : 0.5;
    }

    a {
      user-select: none;
    }

    img {
      user-select   : none;
      pointer-events: none;
    }

    .left {
      color: white;
    }

    .mid {
      flex: 1;
    }

    .right {
      color      : white;
      display    : flex;
      align-items: center;
      gap        : 5px;
    }
  }

  .detail_card_main {
    position        : relative;
    flex            : 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius   : 5px;
    margin          : 0px 5px;
    font-size       : 12px;
    overflow        : hidden;
    display         : flex;
    flex-direction  : column;

    .pic_zone {
      overflow: hidden;
      position: relative;
      flex    : 1;
      position: absolute;
      width   : 100%;
      img {
        display   : inline-block;
        object-fit: cover;
        width     : 100%;
        height    : 100%;
      }
    }

    .info_zone {
      position        : relative;
      border-radius   : 5px;
      overflow        : auto;
      user-select     : text;
      background-color: rgba(0, 0, 0, 0.8);
    }

    .no_content {
      position  : absolute;
      color     : gray;
      width     : 100%;
      text-align: center;
      top       : 0px;
      left      : 0px;
      bottom    : 0px;
      right     : 0px;
      font-size : 20px;
    }
  }

  .detail_card_foot {
    user-select: text;
    padding    : 2px 5px;
    display    : flex;
    font-size  : 12px;

    .prefix {
      font-size: 9px;
    }

    .left {
      display    : flex;
      align-items: center;
      color      : white;
    }

    .mid {
      flex: 1;
    }

    .right {
      display    : flex;
      align-items: center;
      color      : white;
    }
  }
}