@import url(@/theme/common.module.scss);

.info_card {
  width        : 210px;
  height       : 300px;
  border-radius: 5px;
  box-shadow   : 0px 5px 15px -3px rgba(0, 0, 0, 0.8);
}

.info_card_inner {
  display       : flex;
  flex-direction: column;
  flex          : 1;
  position      : relative;
  overflow      : hidden;

  .prefix {
    font-size: 9px;
    opacity  : 0.5;
  }

  .info_card_head {
    padding      : 2px 5px;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
    display      : flex;
    align-items  : center;


    a {
      user-select: none;
    }

    img {
      user-select   : none;
      pointer-events: none;
    }

    .left {
      color: white;
    }

    .mid {
      flex: 1;
    }

    .right {
      color      : white;
      display    : flex;
      align-items: center;
      gap        : 5px;
    }
  }

  .info_card_main {
    position        : relative;
    flex            : 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius   : 5px;
    margin          : 0px 5px;
    font-size       : 12px;
    overflow        : hidden;
    display         : flex;
    flex-direction  : column;

    .pic_zone {

      img {
        overflow  : hidden;
        position  : relative;
        flex      : 1;
        display   : inline-block;
        object-fit: cover;
        width     : 100%;
        height    : 100%;
        max-height: 50%;
      }
    }

    .info_zone {
      border-radius: 5px;
      overflow     : auto;
      user-select  : text;
    }

    .info_zone_half {
      @extend .info_zone;
    }

    .no_content {
      position  : absolute;
      color     : gray;
      width     : 100%;
      text-align: center;
      top       : 0px;
      left      : 0px;
      bottom    : 0px;
      right     : 0px;
      font-size : 20px;
    }
  }

  .info_card_foot {
    user-select: text;
    padding    : 2px 5px;
    display    : flex;
    font-size  : 12px;

    .left {
      display    : flex;
      align-items: center;
      color      : white;
    }

    .mid {
      flex: 1;
    }

    .right {
      display    : flex;
      align-items: center;
      color      : white;
    }
  }
}