.viewer {
  padding: 10px;

  video {
    display      : block;
    border-radius: 5px;
    margin       : 5px;
  }

  hr {
    border-width    : 1px;
    border-style    : dashed;
    border-top-width: 0px;
    margin          : 10px 0px;
    border-color    : var(--divider-color);
  }

  blockquote {
    background-color: #88888822;
    margin          : 5px 0px;
    padding         : 10px;
    border-radius   : 5px;
  }

  p {
    margin: 0px;
  }

  ul {
    padding: 0px;
    margin : 0px;

    li {
      display: flex;
      margin : 0px;
    }
  }
}

.viewer.plain {
  padding: 2px;

  * {
    font-size: 1rem !important;
    padding  : 2px;
    margin   : 2px;
  }

  hr {
    padding: 0px;
  }
}