$msg_item_height      : 24px;
$msg_item_color_global: white;
$msg_item_color_room  : rgba(255, 123, 0, 1);

.rooms_box {
  position           : fixed;
  padding            : 0px;
  right              : 0;
  bottom             : 0;
  width              : 450px;
  transition-property: opacity;
  transition-duration: 150ms;
  z-index            : 10;
  min-height         : 29px;
  resize             : both;
  overflow           : hidden;
  display            : flex;
  flex-direction     : column;
}

.chat_box {
  position           : fixed;
  left               : 0;
  bottom             : 0;
  width              : 375px;
  overflow           : hidden;
  pointer-events     : none;
  transition-property: opacity;
  transition-duration: 150ms;
  z-index            : 10;

  &>* {
    pointer-events: all;
  }

  .msg_list {
    background-color   : rgba(0, 0, 0, 0.5);
    opacity            : 0;
    transition-property: opacity;
    transition-duration: 150ms;
    pointer-events     : none;
  }


  .input_row {
    display: flex;
  }
}

:global(html.mobile) {
  .chat_box {
    width : 100vw;
    bottom: 15px;
  }
}

.msg_item {
  padding-left : 5px;
  padding-right: 5px;
  box-sizing   : border-box;
  font-size    : 16px;
  overflow     : hidden;
  white-space  : nowrap;
  word-break   : keep-all;
  text-overflow: ellipsis;
  height       : $msg_item_height;
}

.color_global {
  color: $msg_item_color_global
}

.color_room {
  color: $msg_item_color_room;
}

.msg_item_global {
  @extend .msg_item;
  @extend .color_global;
}

.msg_item_room {
  @extend .msg_item;
  @extend .color_room;
}

:export {
  msg_item_height      : $msg_item_height;
  msg_item_color_global: $msg_item_color_global;
  msg_item_color_room  : $msg_item_color_room;
}