@use "../../styles/lfui_values.module.scss"as *;

.header_main_footer_view {
  flex            : 1;
  overflow        : hidden;
  position        : relative;
  background-color: $primary_bg_color;

  .head_zone {
    display: flex;
    flex   : 1;

    .title {
      flex      : 1;
      text-align: center;
      align-self: center;
    }
  }

  .content_zone_wrapper {
    width   : 100%;
    height  : 100%;
    overflow: hidden;

    &.inner_shadow_v {
      z-index       : 1;
      width         : 100%;
      position      : absolute;
      color         : transparent;
      pointer-events: none;
    }

    &::before {
      content   : '-';
      background: linear-gradient(#00000088, #00000000);
      @extend .inner_shadow_v;
    }

    &::after {
      content   : '-';
      bottom    : 0px;
      background: linear-gradient(#00000000, #00000088);
      @extend .inner_shadow_v;
    }
  }

  .content_zone {
    width   : 100%;
    height  : 100%;
    overflow: auto;
    display : flex;
    position: relative;


  }
}