.custom_game_page {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 100%;
  height         : 100%;
  flex-direction : column;
  gap            : 20px;

  .hello_world {
    display       : inline-flex;
    flex-direction: column;
    align-items   : center;
    border        : 2px dashed;
    padding       : 20px;
    border-radius : 10px;
    text-align    : center;

    &>* {
      pointer-events: none;
    }
  }
}