.tree_view {
  position: relative;
}

.tree_item {
  position: relative;

  &>.tree_item_head_view {
    padding-top   : 2px;
    padding-bottom: 2px;
    transition    : all 200ms;
    white-space   : nowrap;
    text-overflow : ellipsis;
    width         : 100%;
    overflow      : hidden;
    display       : flex;
    align-items   : center;
    box-sizing    : border-box;

    &:focus {
      outline: 1px solid black;
    }
  }

  &>.tree_item_head_view>.icon {
    margin-right: 4px;
    display     : inline-block;
  }

  &>.tree_item_head_view:hover {
    background-color: #FFFFFF22;
    color           : #FFFFFFFF;
  }

  &>.tree_item_col_line {
    border-left: 1px solid #FFFFFF22;
    width      : 1px;
    position   : absolute;
    top        : 20px;
  }
}