html {
  --divider-color: #FFFFFF22;
  --link-color: #FFFFFFCC;
  --link-color-hover: #FFFFFFFF;
  --txt-color: #8393e4FF;
  --primary-color: #10206C;
  --primary-color-hover: #213492;
  background-color: var(--primary-color);
  color: #FFFFFFDD;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

button {
  border: none;
  background: none;
  outline: none;
  color: white;
  border-radius: 5px;
  padding: 3px 5px;
  transition: all 200ms;
}

button:hover {
  background-color: var(--divider-color);
}

.el_date {
  opacity: 0.5;
  font-size: 14px;
  font-weight: normal;
}

#game_title {
  display: flex;
}

#game_desc a,
.el_desc a,
.link {
  color: var(--link-color);
  display: inline-block;
  transition: all 200ms;
}

#game_desc a:hover,
.el_desc a:hover,
.link:hover {
  color: var(--link-color-hover);
  transform: scale(1.1);
  background-color: var(--primary-color-hover);
  padding: 0px 10px;
  border-radius: 5px;
  box-sizing: content-box;
}

button:hover {
  transform: scale(1.2);
}

.el_desc {
  color: var(--txt-color);
  white-space: pre-wrap;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 800px;
}

#root>#head {
  padding: 0px 20px;
  border-bottom: 1px var(--divider-color) dashed;
  display: flex;
  align-items: center;
}

#root>#head>#main_title {
  flex: 1;
}

#game_list {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-right: 1px var(--divider-color) dashed;
  padding: 5px;
  box-sizing: border-box;
}

.game_item {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game_item_actived {
  border-radius: 5px;
  background-color: var(--primary-color-hover);
}

.main_right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.game_desc_zone {
  padding: 0px 20px 20px;
  border-bottom: 1px var(--divider-color) dashed;
}

#game_desc {
  color: var(--txt-color);
  white-space: pre-wrap;
}

.el_changelog {
  color: var(--txt-color);
  white-space: pre-wrap;
}

#version_list {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#main {
  display: flex;
  flex: 1;
  align-items: stretch;
  height: 0;
}

.lang_btn_inner {
  position: relative;
  width: 24px;
  height: 24px;
}

.lang_btn_inner_span {
  font-size: 9px;
  line-height: 9px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: 16px;
  height: 13px;
  position: absolute;
  border-radius: 3px;
  box-sizing: border-box;
}

.lang_btn_inner_span_f {
  z-index: 1;
  left: 1px;
  top: 2px;
  color: #10206C;
  background-color: white;
}

.lang_btn_inner_span_b {
  z-index: 0;
  right: 1px;
  bottom: 2px;
}

.head_right_btn {
  display: inline-block;
  transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0px;
}

.head_right_btn>img {
  transition: all 200ms;
}

.head_right_btn:hover>img {
  transform: scale(1.2);
}

.go_div {
  min-width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#version_list>.version_item {
  padding: 0px 8px 20px 20px;
}

#version_list>.version_item:not(:last-child) {
  border-bottom: 1px var(--divider-color) dashed;
}

#version_list>.version_item>.row_1 {
  display: flex;
  align-items: center;
}

#version_list>.version_item>.row_1>.row_title {
  flex: 1;
}

#foot {
  border-top: 1px var(--divider-color) dashed;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.scrollview::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.scrollview::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.scrollview::-webkit-scrollbar-thumb {
  background: var(--divider-color);
  border-radius: 4px;
}

.scrollview::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF88;
}

#changelog_md_mask {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00000055;
  z-index: 1;
}

#changelog_md_modal {
  position: fixed;
  display: inline-block;
  box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  top: 20px;
  background-color: var(--primary-color);
  box-sizing: border-box;
  overflow: hidden;
  width: 0px;
  height: 0px;
  transition: all 220ms;
}

#changelog_md_modal>button {
  height: 24px;
  width: 24px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
  vertical-align: middle;
  line-height: 24px;
}

#changelog_md_modal>#btn_close {
  position: absolute;
  right: 15px;
  top: 5px;
}

#changelog_md_modal>#btn_copy {
  position: absolute;
  right: 45px;
  top: 5px;
}

#changelog_md_content {
  overflow: auto;
  padding: 20px 20px;
  min-width: 100px;
  min-height: 100px;
  max-height: calc(100vh - 100px);
  max-width: calc(100vh - 100px);
}