@use "../../styles/lfui_hoverable_border.module.scss"as *;
@use "../../styles/lfui_values.module.scss"as *;
@use "../../styles/lfui_input_like.module.scss"as *;

.lfui_input {
  @extend .lfui_input_like;

  display    : inline-flex;
  position   : relative;
  overflow   : hidden;
  box-sizing : border-box;
  align-items: stretch;

  &>* {
    font-family: Arial, Helvetica, sans-serif;
    font-size  : inherit;
    font-weight: inherit;
  }

  &>.lfui_input_prefix,
  &>.lfui_input_suffix {
    color             : $primary_text_color;
    // opacity        : 0.5;
    display           : inline-block;
    transition        : all 200ms;
    display           : flex;
    align-items       : center;
    justify-content   : center;
    align-self        : center;
  }

  &>.lfui_input_suffix.lfui_input_suffix_spacer {
    min-width: 20px;
  }

  &>.lfui_input_prefix {
    font-family: inherit;
    font-size  : inherit;
    margin-left: 4px;
  }

  &>.lfui_input_suffix {
    font-family : inherit;
    font-size   : inherit;
    margin-right: 4px;
  }


  &:disabled {
    color           : $primary_text_color_disabled;
    background-color: transparent;
    cursor          : not-allowed;
  }

  &>.lfui_input_spacer {
    position       : relative;
    flex           : 1;
    user-select    : none;
    font-size      : inherit;
    font-family    : inherit;
    box-sizing     : border-box;
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    overflow       : hidden;
    min-height     : 0px;
    flex           : 1;
    flex-grow      : 1;
    flex-shrink    : 0;

    &>span {
      pointer-events: none;
      font-family   : inherit;
      font-size     : inherit;
      display       : inline-block;
      position      : relative;
      z-index       : 1;
      white-space   : pre;
      opacity       : 0;
      color         : red;
      padding       : 0px 2px;
      box-sizing    : border-box;

      &::before {
        content: ' '; // keep
      }
    }

    &>.lfui_input_input {
      font-family     : inherit;
      font-size       : inherit;
      position        : absolute;
      left            : 0;
      top             : 0;
      width           : 0;
      height          : 0;
      height          : 100%;
      width           : 100%;
      padding         : 0px 0.25em;
      color           : $primary_text_color;
      border-radius   : none;
      background-color: transparent;
      box-sizing      : border-box;
      outline         : none;
      border          : none;
      flex            : 1;
      min-height      : 0px;
      min-width       : 0px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
      }

      &[type='number'] {
        appearance: textfield;
      }

      &::placeholder {
        color: $primary_text_secondary_color;
      }
    }
  }

  &>.fix_right_zone {
    position   : absolute;
    right      : 2px;
    top        : 0px;
    bottom     : 0px;
    display    : flex;
    align-items: center;

    &>.stepper {
      display       : flex;
      flex-direction: column;
      position      : relative;
      opacity       : 0;
      transition    : all 200ms;
      align-self    : stretch;

      &>svg {
        flex      : 1;
        transition: all 200ms;
      }
    }

    &>.lfui_input_clear_icon {
      border         : none;
      outline        : none;
      background     : none;
      padding        : 0px 4px;
      display        : inline-flex;
      opacity        : 0;
      transition     : all 200ms;
      align-items    : center;
      justify-content: center;
    }
  }

  &:hover {
    &>.lfui_input_spacer {
      &>.lfui_input_input {
        color: $primary_text_color_active;

        &::placeholder {
          color: $primary_text_secondary_color_active;
        }
      }
    }

    &>.fix_right_zone {
      &>.stepper {
        opacity: 1;

        &>svg:hover {
          color: white;
        }
      }

      &>.lfui_input_clear_icon {
        opacity: 1;
      }
    }

    &>.lfui_input_prefix,
    &>.lfui_input_suffix {
      color: $primary_text_secondary_color_active;
    }

    &>.lfui_input_suffix:not(:last-child) {
      opacity: 0;
    }
  }
}