.game_contiainer {
  position: absolute;
  top     : 0px;
  left    : 0px;
  width   : 100%;
  height  : 100%;

  .game_canvas {
    position   : absolute;
    left       : 0px;
    top        : 0px;
    width      : 100%;
    height     : 100%;
    outline    : none;
    display    : block;
    user-select: none;
  }

  .game_overlay {
    position      : absolute;
    left          : 0px;
    right         : 0px;
    top           : 0px;
    bottom        : 0px;
    pointer-events: none;
    user-select   : none;

    &.gone {
      display: none;
    }
  }

  .top_bar {
    --wails-draggable: drag;
    position         : absolute;
    right            : 0px;
    top              : 0px;
    left             : 0px;
    pointer-events   : none;
    user-select      : none;
    display          : flex;
    justify-content  : flex-end;
    align-items      : flex-start;
    gap              : 0px;

    button {
      --wails-draggable: no-drag;
      pointer-events   : all;
      padding          : 0px;
      transform        : scale(0.6, 0.6);
      transition       : all 255ms;
    }

    button:hover {
      transform: scale(0.8, 0.8);
    }
  }
}

.loading_img {
  position: absolute;
}

.loading_img_l {
  opacity    : 0;
  transition : opacity 1000ms;
  object-fit : none;
  user-select: none;
  margin     : auto;
  display    : block;
  width      : 132px;
  height     : 84px;
}

.loading_img_s {
  opacity    : 0;
  transition : opacity 1000ms;
  object-fit : none;
  user-select: none;
  margin     : auto;
  display    : block;
  width      : 15.5px;
  height     : 10.5px;
}

.app>* {
  z-index : 1;
  position: relative;
  overflow: hidden;
}

.editor_view {
  position        : fixed;
  z-index         : 1;
  left            : 0px;
  top             : 0px;
  right           : 0px;
  bottom          : 0px;
  display         : flex;
  flex-direction  : column;
  background-color: #10206c;
  padding         : 5px;
  gap             : 5px;
}

.editor_view .top {
  display: flex;
  gap    : 5px;
}

.editor_view .main {
  flex      : 1;
  align-self: stretch;
  display   : flex;
  gap       : 5px;
}

.editor_view .main textarea {
  min-width : 100px;
  align-self: stretch;
  resize    : none;
}

.editor_view .main textarea:first-child {
  width : 50%;
  resize: horizontal;
}

.editor_view .main textarea:not(:first-child) {
  flex  : 1;
  resize: none;
}

.debug_ui {
  position        : absolute;
  top             : 0px;
  left            : 0px;
  height          : 100%;
  width           : 100%;
  max-height      : 100%;
  max-width       : 100%;
  display         : flex;
  flex-direction  : column;
  background-color: #10206c;
  padding         : 5px;
  transition      : height 200ms;
  overflow        : auto;
  box-shadow      : 0px 0px 42px rgba(0, 0, 0, 1);
  gap             : 5px;
  box-sizing      : border-box;
}

.mobile.landscape .debug_ui_top,
.mobile.landscape .debug_ui_bottom {
  padding-left : 20px;
  padding-right: 20px;
}

.mobile.landscape .debug_ui_left {
  padding-left: 20px;
}

.mobile.landscape .debug_ui_right {
  padding-right: 20px;
}

.mobile.portrait .debug_ui_top {
  padding-top: 20px;
}

.mobile.portrait .debug_ui_bottom {
  padding-bottom: 20px;
}

.mobile.portrait .debug_ui_left,
.mobile.portrait .debug_ui_right {
  padding-top   : 20px;
  padding-bottom: 20px;
}

.settings_row {
  padding    : 5px;
  display    : flex;
  gap        : 10px;
  word-break : keep-all;
  white-space: nowrap;
  align-items: center;
  flex-wrap  : wrap;
}

.portrait {
  .settings_row {
    flex-wrap     : wrap;
    padding-bottom: 3px;
    border-bottom : #5a73d655 1px solid;
  }
}