.txt_game_overlay {
  color              : white;
  text-align         : start;
  -webkit-text-stroke: 0.3px black;
  text-stroke        : 0.3px black;
  display            : block;
}

.camera_ctrl {
  position                  : absolute;
  pointer-events            : all;
  display                   : block;
  left                      : 1px;
  bottom                    : 1px;
  height                    : 20px;
  box-sizing                : border-box;
  width                     : calc(100% - 2px - 35px);
  outline                   : none;
  border-top-right-radius   : 0px;
  border-bottom-right-radius: 0px;
}

.btn_free_cam {
  height        : 20px;
  pointer-events: all;
  position      : absolute;
  right         : 1px;
  bottom        : 1px;
  width         : 35px;
  line-height   : 20px;
  padding       : 0px;

  border-left-width        : 0px;
  border-top-left-radius   : 0px;
  border-bottom-left-radius: 0px;
}

.btn_free_cam:focus {
  border-left-width        : 0px;
  border-top-left-radius   : 0px;
  border-bottom-left-radius: 0px;
}